root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.php]
trim_trailing_whitespace = false
ij_php_keep_indents_on_empty_lines = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2
